.button-div{
    text-align: center;
    background-color: #C4F2CB;
    padding-bottom: 10px;
    min-height: 5vh;
    border-bottom: 1px solid;


    .tip-button{
        margin-right: 10px;
    }

}

