@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'users';
@import 'homepage';
@import 'toastify';
@import 'tips';
@import 'places';
@import 'react-toastify/scss/main';

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

h1,h2,h3,h4,h5 {
    font-family: 'Acme', sans-serif;
}

.h-text-color-white {
    color: white;
}

.h-text-color-dark {
    color: #244020;
}

.photo-placeholder {
    background-color: #ddd
}

//Nav
.navbar {
    background-color: #C4F2CB;
    min-height: 6vh;
}
.navbar-logo {
    font-family: 'Acme', sans-serif;
    color: #244020;
}

.btn-color {
    background-color: #F25050;
    border-color: #F25050;
    color: white;
    font-weight: 500;
}

.btn-color:hover, .btn-color:disabled {
    background-color: #F27166 !important;
    border-color: #F27166 !important;
}

// .btn-color:focus {
//     background-color: #f27266 !important;
//     border-color: #F27166 !important;
// }

// .btn-color:active {
//     background-color: #f27266 !important;
//     border-color: #F27166 !important;
// }


//homepage

//foodplace-modal



//hompage



// .foodplaces-list-wrapper {
//     padding: 15px;
//     position: absolute;
//         width: 500px;
//         top: 300px;
//         left: 50px;
//         z-index: 99;



//     // .foodplace-listgroup {

//     // }

// }
.offcanvas-bg {
    background-color: #f8ceca;
}

.offcanvas.offcanvas-start {
    width: 600px;
}


