@import 'bootstrap/scss/bootstrap';
@import 'users';
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

h1,h2,h3,h4,h5 {
    font-family: 'Acme', sans-serif;    
}

.h-text-color {
    color: #244020;
}

.navbar {
    background-color: #C4F2CB;
}
.navbar-logo {
    font-family: 'Acme', sans-serif;
    color: #244020;
}


.btn-color {
    background-color: #F25050;
    border-color: #F25050;
    color: white;
    font-weight: 500;
}

.btn-color:hover, .btn-color:disabled {
    background-color: #F27166 !important;
    border-color: #F27166 !important;
}

// .btn-color:focus {
//     background-color: #f27266 !important;
//     border-color: #F27166 !important;
// }

// .btn-color:active {
//     background-color: #f27266 !important;
//     border-color: #F27166 !important;
// }



.maps-wrapper {
    height: 800px;
    position: relative;
}

.searchaddressform {

    position: absolute;
    width: 400px;
    top: 100px;
    left: 150px;
    z-index: 99;
    background-color: aliceblue;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;

}


.place-info-box {
    border: #F25050 solid 1px;
    border-radius: 7px;
    background-color: #f8ceca;
    font-size: 1rem;
    padding: 8px;
    position: relative;
}

.x-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.foodplaces-list-wrapper {

    background-color: #F27166;
    padding: 15px;
    position: absolute;
        width: 500px;
        top: 300px;
        left: 50px;
        z-index: 99;

    // .foodplace-listgroup {

    // }

}
