@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'users';
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

h1,h2,h3,h4,h5 {
    font-family: 'Acme', sans-serif;
}

.h-text-color-white {
    color: white;
}

.h-text-color-dark {
    color: #244020;
}

.navbar {
    background-color: #C4F2CB;
}
.navbar-logo {
    font-family: 'Acme', sans-serif;
    color: #244020;
}

.btn-color {
    background-color: #F25050;
    border-color: #F25050;
    color: white;
    font-weight: 500;
}

.btn-color:hover, .btn-color:disabled {
    background-color: #F27166 !important;
    border-color: #F27166 !important;
}

// .btn-color:focus {
//     background-color: #f27266 !important;
//     border-color: #F27166 !important;
// }

// .btn-color:active {
//     background-color: #f27266 !important;
//     border-color: #F27166 !important;
// }



.maps-wrapper {
    height: 800px;
    position: relative;
}

.searchaddressform {
    padding: 10px;
}

.foodplace-modal {
    background-color: aquamarine;
    width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.place-info-box {
    border: #F25050 solid 1px;
    background-color: #F25050;
    font-size: 1rem;
    padding: 8px;
    display: flex;


    .box-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2px;
    }


    .x-btn {
        margin-bottom: 2px;
        background-color: transparent;
        border: none;
        color: white;
    }

    .x-btn:hover, .x-btn:disabled {
        background-color: #F27166 !important;
        border-color: #F27166 !important;
    }

    .address-box {
        background-color: #f8ceca;
        border-radius: 7px;
        padding: 7px;
        margin: auto;
        font-family: 'Acme', sans-serif;
        color: #244020;

        .place-contact {
            display: flex;
            flex-flow: column;
            gap: 0.2rem;
            margin: 0.4rem 0;
        }
    }

}


// .foodplaces-list-wrapper {
//     padding: 15px;
//     position: absolute;
//         width: 500px;
//         top: 300px;
//         left: 50px;
//         z-index: 99;



//     // .foodplace-listgroup {

//     // }

// }
.offcanvas-bg {
    background-color: #f8ceca;
}

.offcanvas.offcanvas-start {
    width: 600px;
}